@import './assets/fonts/Aniron/Aniron.css';
@import './assets/fonts/NewBaskerville/NewBaskerville.css';
@import './assets/fonts/NiveauGrotesk/NiveauGrotesk.css';

:root {
    font-family: 'Niveau Grotesk', sans-serif;
    font-weight: normal;
    line-height: 1.5;

    color-scheme: light dark;
    color: #5a4b44;
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #fffbf1;
    --font-family-aniron: 'Aniron', serif;
    --font-family-new-baskerville: 'NewBaskerville', serif;
    --font-family-niveau-grotesk: 'NiveauGrotesk', sans-serif;
    --text-color: #5a4b44;
    --label-color: #b24b4d;
}

html,
body {
    padding: 0;
    margin: 0;
}
